/*
   --- GLOBAL --- */

   @import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Ubuntu&display=swap');
   /* font-family: 'Eagle Lake', cursive;
   font-family: 'Ubuntu', sans-serif; */
   * {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
   }
   img {
       display: block;
   }
   html {
       background-color: blueviolet;
   }
   a {
    color: lightpink;
    text-decoration: none;
   }
   body {
       margin: 0 auto;
       width: 95vw;
       max-width: 1440px;
       padding: 2.5vw;
       background-color: darkgray;
   }