/*
   --- POKEMON CONTAINER --- */

h1 {
    text-align: center;
    color: darkslategrey;
    font-family: 'Eagle Lake', cursive;
    font-size: 3rem;
    margin: 3rem 0;
}
h2 {
    margin: .7rem;
}
#pokemons {
    margin: 0 auto;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    justify-content: left;
    gap: 2rem;
    font-family: 'Ubuntu', sans-serif;
}
#pokemons > * {
    width: 10rem;
    height: 100%;
    background-color: gray;
}
#pokemons figure img {
    width: 100%;
    height: auto;
}